/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --discover-card-font-family: var(--default-font-family);
  --discover-card-border-color: color-mod(#000 alpha(8%));
  --discover-card-border-radius: 4px;
  --discover-card-background-color: #fff;
  --discover-card-title-font-size: 18px;
  --discover-card-title-color: #000;
  --discover-card-shortname-font-size: var(--default-font-size-small);
  --discover-card-shortname-color: color-mod(#000 alpha(50%));
  --discover-card-description-font-size: 15px;
  --discover-card-description-color: color-mod(#000 alpha(40%));
  --discover-card-description-lines-to-show: 3;
  --discover-card-members-color: color-mod(#000 alpha(40%));
  --discover-card-members-font-size: var(--default-font-size-small);
  --discover-card-creator-color: color-mod(#000 alpha(50%));
  --discover-card-creator-font-size: var(--default-font-size-small);
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  font-family: var(--discover-card-font-family);
  box-shadow: inset 0 0 0 1px var(--discover-card-border-color);
  border-radius: var(--discover-card-border-radius);
  background-color: var(--discover-card-background-color);
  overflow: hidden;
  cursor: pointer;
  height: 180px;

  &:hover {
    & .button {
      display: block;
    }
  }
}

.body {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  box-sizing: border-box;
  padding: var(--default-padding) var(--default-padding) 0;
  @mixin flex-fix;
}

.side {
  flex: 0 0 auto;
  padding-right: var(--default-padding);
}

.info {
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: var(--discover-card-title-font-size);
  color: var(--discover-card-title-color);
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 24px;
  height: 24px;
  margin-top: 2px;
  @mixin text-overflow-ellipsis;
}

.icon {
  display: inline-block;
  margin-right: 4px;
  margin-top: -2px;
  color: currentColor;
}

.shortname {
  font-size: var(--discover-card-shortname-font-size);
  color: var(--discover-card-shortname-color);
  line-height: 24px;
}

.description {
  display: block;
  display: -webkit-box;
  font-size: var(--discover-card-description-font-size);
  color: var(--discover-card-description-color);
  margin-top: 2px;
  line-height: 18px;
  overflow: hidden;
  max-height: calc(var(--discover-card-description-lines-to-show) * 18px);
  text-overflow: ellipsis;
  -webkit-line-clamp: var(--discover-card-description-lines-to-show);

  & p {
    margin: 0;
  }
}

.description {
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
}

.footer {
  padding: 13px var(--default-padding);
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 46px;
  position: relative;
  display: flex;
}

.button {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  transform: translateZ(0);
}

.membersIcon {
  margin-right: 4px;
  color: currentColor;
}

.members {
  flex: 0 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: var(--discover-card-members-font-size);
  color: var(--discover-card-members-color);
  font-weight: 500;
  line-height: 20px;
  width: 80px;
}

.creator {
  text-align: right;
  font-size: var(--discover-card-creator-font-size);
  line-height: 20px;
  color: var(--discover-card-creator-color);
  flex: 1 1 auto;
  @mixin flex-fix;
  @mixin text-overflow-ellipsis;
}

.creatorTitle {
  margin-left: 6px;
}

/* Animation */
.enter {
  transform: translateY(100%);
}

.enterActive {
  transition: transform var(--default-transition-duration) ease;
  transform: translateY(0%);
  /* opacity: 1; */
}

.leave {
  transform: translateY(0%);
}

.leaveActive {
  transition: transform var(--default-transition-duration) ease;
  transform: translateY(100%);
}
