/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --sidebar-call-item-font-family: var(--default-font-family);
  --sidebar-call-item-top-padding: 12px;
  --sidebar-call-item-right-padding: 12px;
  --sidebar-call-item-bottom-padding: 12px;
  --sidebar-call-item-left-padding: 10px;
  --sidebar-call-item-height: 60px;
  --sidebar-call-item-background: #fafafa;
  --sidebar-call-item-default-color: color-mod(#000 alpha(50%));
  --sidebar-call-item-hover-background-color: #e6e6e6;
  --sidebar-call-item-hover-color: #000;
  --sidebar-call-item-active-background-color: color-mod(
    var(--sidebar-call-item-hover-background-color) shade(2%)
  );
  --sidebar-call-item-title-font-size: var(--default-recent-item-font-size);
  --sidebar-call-item-time-font-size: 13px;
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: var(--sidebar-call-item-height);
  padding-top: var(--sidebar-call-item-top-padding);
  padding-right: var(--sidebar-call-item-right-padding);
  padding-bottom: var(--sidebar-call-item-bottom-padding);
  padding-left: var(--sidebar-call-item-left-padding);
  cursor: pointer;
  user-select: none;
  font-family: var(--sidebar-call-item-font-family);
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  color: var(--sidebar-call-item-default-color);
  background-color: var(--sidebar-call-item-background);

  &:hover {
    background-color: var(--sidebar-call-item-hover-background-color);
    color: var(--sidebar-call-item-hover-color);
  }

  &:active {
    background-color: var(--sidebar-call-item-active-background-color);
  }

  & .avatar {
    margin-right: 10px;
    flex: 0 0 auto;
    align-self: auto;
    cursor: inherit;
  }
}

.title {
  line-height: 20px;
  font-size: var(--sidebar-call-item-title-font-size);
  letter-spacing: -0.27px;
  font-weight: 500;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  position: relative;
  @mixin flex-fix;
}

.icon {
  margin-top: -2px;
  color: inherit;
  margin-right: 2px;
}

.iconDanger {
  color: var(--color-danger);
}

.text {
  margin-left: 4px;
  color: inherit;
  text-transform: lowercase;
}

.time {
  line-height: 16px;
  font-size: var(--sidebar-call-item-time-font-size);
  letter-spacing: -0.25px;
  @mixin text-overflow-ellipsis;

  &:first-letter {
    text-transform: capitalize;
  }
}

.duration {
  flex: 0 0 auto;
  font-weight: 500;
  margin-left: 4px;
  letter-spacing: -0.25px;
  font-size: var(--default-font-size-small);
}
