/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --modal-member-font-family: var(--default-font-family);
  --modal-member-font-size: var(--default-font-size);
  --modal-member-add-width: 500px;
}

/* Styles */
.container {
  width: var(--modal-member-add-width);
  font-family: var(--modal-member-font-family);
}

.body {
  padding: 0;
}

.footer {
  padding: 0;
}

.error {
  padding: var(--default-padding);
  background-color: var(--color-danger);
  font-size: var(----modal-member-font-size);
  font-weight: 500;
  color: #fff;
}
