/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  box-sizing: border-box;
  font-family: var(--default-font-family);
  display: flex;
  flex-flow: row nowrap;
}

.empty {
  padding: 12px 14px;
  text-align: center;
}

.emptyText {
  & h4 {
    font-size: var(--default-font-size);
    margin: 0 0 1rem;
    font-weight: 500;
  }

  & p {
    margin: 0;
    line-height: 16px;
    color: var(--default-font-color-light);
    font-size: var(--default-font-size-small);
  }
}

.dialpad {
  flex: 0 0 auto;
  padding: 0 12px 10px;
}

.list {
  flex: 1 1 auto;
  @mixin flex-fix;
}
