/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --space-info-modal-font-family: var(--default-font-family);
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  font-family: var(--space-info-modal-font-family);
  background-color: #ffffff;
  width: 320px;
}

.back {
  width: var(--modal-create-new-close-size);
  height: var(--modal-create-new-close-size);
  margin-right: 16px;
  transition: color var(--modal-create-new-transition-duration) linear;
  line-height: var(--modal-create-new-close-size);
  color: var(--modal-create-new-close-color);

&:hover {
   color: var(--modal-create-new-close-color-hover);
 }
}

.close {
  position: absolute;
  top: 16px;
  right: 32px;
}

.body {
  position: relative;
  padding: 0 0 1px;
}
