/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --activity-search-font-family: var(--default-font-family);
  --activity-search-header-background: #f5f5f5;
  --activity-search-border-color: #e6e6e6;
}

.filter {
  padding: var(--default-padding-small) var(--default-padding);
  background-color: var(--activity-search-header-background);
  box-shadow: 0 1px 0 0 var(--activity-search-border-color);
  line-height: 20px;
  display: flex;
  font-size: 14px;
}

.filterBlock {
  flex: 1 1 auto;
  @mixin flex-fix;
  color: #7a7a7a;

  & span {
    cursor: pointer;
    color: #000;
    border-bottom: 1px dotted color-mod(#000 alpha(40%));

    &:hover {
      border-bottom: 1px solid color-mod(#000 alpha(40%));
    }
  }
}

.filterRel {
  composes: filterBlock;
  text-align: left;
}

.filterInc {
  composes: filterBlock;
  text-align: right;
}
