/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --custom-profile-title-color: var(--color-labels);
  --custom-profile-text-color: #000;
}

.container {
  all: initial;
  font-family: var(--default-font-family);
}

.property {
  padding: var(--default-padding-small) 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.title {
  @mixin no-select;
  letter-spacing: -0.27px;
  font-size: var(--default-font-size-small);
  line-height: 20px;
  margin-bottom: calc(var(--default-padding-small) / 2);
  color: var(--custom-profile-title-color);
}

.string,
.number,
.boolean {
  line-height: 20px;
  font-size: var(--default-font-size);
  color: var(--custom-profile-text-color);
}

.boolean {
  color: var(--color-info);
}
