/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';
@import '../SpaceInfoModal.css';

:root {
  --modal-member-add-font-family: var(--default-font-family);
  --modal-member-add-width: 500px;
}

/* Styles */
.container {
  width: var(--modal-member-add-width);
  font-family: var(--modal-member-add-font-family);
}

.body {
  padding: 0;
}

.footer {
  padding: 0;
}

.back {
  @mixin --space-info-modal-back;
}

.close {
  @mixin --space-info-modal-close;
}
