/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --avatar-text-color: #fff;
  --avatar-text-font-size: 32px;
  --avatar-unset-color: var(--color-success);
  --avatar-away-color: var(--color-warning);
  --avatar-dnd-color: var(--color-danger);
  --avatar-hovered-opacity: 0.9;
  --avatar-active-opacity: 0.85;
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: inline-block;
  border-radius: 100%;
  line-height: 0;
  position: relative;
  transform: translateZ(1);
  transition: opacity var(--default-transition-duration) ease-in-out;
  opacity: 1;
  user-select: none;
}

.svg {
  z-index: 3000;
}

.mask {
}

.status {
}

.text {
  font-family: var(--default-font-family);
  font-size: var(--avatar-text-font-size);
  color: var(--avatar-text-color);
  letter-spacing: 1px;
  fill: currentColor;
  text-transform: uppercase;
  user-select: none;
  cursor: inherit;
  vertical-align: middle;
  font-weight: 500;
  pointer-events: none;
}

.hovered {
  opacity: var(--avatar-hovered-opacity);

  &:active {
    opacity: var(--avatar-active-opacity);
  }
}

/* Status color */
.unset {
  fill: var(--avatar-unset-color);
}

.away {
  fill: var(--avatar-away-color);
}

.do_not_disturb {
  fill: var(--avatar-dnd-color);
}

/* Clicker */
.clickerWrapper {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3005;
}

.clickerStatus {
  position: absolute;
  width: 29.8%;
  height: 29.8%;
  border-radius: 100%;
  bottom: 1.2%;
  right: 1.2%;
  cursor: pointer;
}

.clickerMask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100%;
  cursor: pointer;
}
